version: 2.1

jobs:
  build-and-test:
    machine:
      image: ubuntu-2204:2024.01.2
    steps:
      - checkout
      - run: make deps
      - run: make test
      - run:
          name: List files
          command: ls -la
      - run: make docker_build

workflows:
  basic:
    jobs:
      - build-and-test
